html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Dancing Script', cursive;
}

h3 {
    margin: 0px;
}

.slider .slides li img {
    position: relative;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav ul a {
    color: #000;
    font-size: 20px;
}

.section-follow .fa-4x {
    margin: 5px 10px;
}

.nav-color {
    background: #202124;
}

.container2 {
    min-height: 50vh;
    min-width: 50vw;
    /* width: 200%; */
    padding: 10px 0px;
}

.display {
    display: inline-block;
}

.wedding {
    display: table;
    max-width: 550px;
}

.birthday {
    display: table;
    max-width: 550px;
}

.corporate {
    display: table;
    max-width: 550px;
}

.concerts {
    display: table;
    max-width: 550px;
}

.cultural {
    display: table;
    max-width: 550px;
}

.other-events {
    display: table;
    max-width: 550px;
}